<div class="mx-5">
    <h1>Au petit Village</h1>
    <p>
      “Au petit village” est une entreprise qui confectionne des figurines inspirées
      de la bande dessinée Astérix et Obélix.
    </p>
    <p>
      Au petit village a été fondée en 1975 par Terbla zozo. Les premières figurines
      ont été commercialisées en 1976 avec le développement, la production et le
      marketing de figurines sous licences encore très populaires aujourd’hui
      (Asterix, Obelix, Panoramix, etc.) . L’entreprise a récemment ouvert les
      portes de son usine historique pour une visite guidée de ses processus de
      fabrication.
    </p>
    
</div>
