<main
  class="mx-4 mt-4"
  style="margin-bottom: 250px"
>
  <div class="container-lg mx-auto mt-5 rounded-3 shadow p-3 bg-primary">
    <h1>Au petit Village</h1>
    <p>
      “Au petit village” est une entreprise qui confectionne des figurines
      inspirées de la bande dessinée Astérix et Obélix.
    </p>
  </div>
  <div class="container-lg mx-auto mt-5 rounded-3 shadow p-3 bg-primary">
    <h2>Histoire</h2>
    <p>
      Au petit village a été fondée en 1975 par Terbla zozo. Les premières
      figurines ont été commercialisées en 1976 avec le développement, la
      production et le marketing de figurines sous licences encore très
      populaires aujourd’hui (Asterix, Obelix, Panoramix, etc.) . L’entreprise a
      récemment ouvert les portes de son usine historique pour une visite guidée
      de ses processus de fabrication.
    </p>
  </div>
</main>
