<nav class="navbar navbar-expand-lg bg-primary border-bottom border-secondary shadow">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img
        src="assets/images/Logo-au-petit-village.jpg"
        alt=""
        class="rounded-5"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavHeader"
      aria-controls="navbarNavHeader"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavHeader">
      <div class="navbar-nav">
        <a
          class="nav-link"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavHeader"
          aria-current="page"
          routerLink="about"
          routerLinkActive="active"
          >A PROPOS</a
        >
        <a
          class="nav-link"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavHeader"
          routerLink="contact"
          routerLinkActive="active"
          >CONTACT</a
        >
      </div>
    </div>
  </div>
</nav>
