<nav class="navbar navbar-expand-lg bg-primary border-bottom border-2 border-secondary shadow">
  <div class="container-fluid ">
    <a
      class="navbar-brand"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <img
        src="assets/images/Logo-au-petit-village.png"
        alt="dessin d'un casque ailé"
        class="rounded-circle"
        width="64" height="64"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavHeader"
      aria-controls="navbarNavHeader"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fs-4" id="navbarNavHeader">
      <div class="navbar-nav" >
        <a
          class="nav-link"
          aria-current="page"
          routerLink="about"
          routerLinkActive="active"
          (click)="handleClassBurger()"
          >A PROPOS</a
        >
        <a
          class="nav-link"
          routerLink="contact"
          routerLinkActive="active"
          (click)="handleClassBurger()"
          >CONTACT</a
        >
      </div>
    </div>
  </div>
</nav>
