<div class="container-fluid p-0 " style="margin-bottom: 200px;">
  <div class="my-4 mx-3 border border-secondary rounded-3 shadow">
    <h1 class="px-3">Au petit village</h1>
    <p class="px-3">
      Une entreprise qui confectionne des figurines inspirées de la bande
      dessinée Astérix et Obélix.
    </p>
  </div>
  <div class="p-2 mx-3 border border-secondary rounded-3 shadow">
    <h2 class="text-center">Catalogue des figurines</h2>
    <nav class="navbar bg-primary mx-auto w-75 border border-secondary rounded-3 shadow">
      <div class="container">
        <form class="d-flex flex-column flex-sm-row g-1" role="search" (submit)="searchHandle($event)">
          <input
            class="form-control m-2"
            type="search"
            placeholder="Chercher"
            aria-label="Search"
            #search
          />
          <button
            class="btn btn-outline-secondary m-2"
            type="button"
            (click)="searchHandle($event)"
          >
            Chercher
          </button>
          <select
            class="form-select m-2"
            aria-label="Default select example"
            (change)="selectSortHandler($event)"
          >
            <option selected>tri par prix</option>
            <option value="croissant">Prix croissant</option>
            <option value="decroissant">Prix décroissant</option>
          </select>
        </form>
      </div>
    </nav>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-0 my-4 p-2 mx-auto w-75 border border-secondary rounded-3 shadow"
    >
      <div
        *ngFor="
          let product of productList
            | filterByTitle : search.value
            | sortByPrice : selectedSort
        "
      >
        <div class="col">
          <div class="card rounded-0 bg-primary">
            <img [src]="product.photo" alt="" class="card-img-top" />
            <div class="card-body px-2 py-1">
              <h5 class="card-title text-truncate">{{ product.title }}</h5>
              <p class="card-text my-1">
                <strong>{{ product.price }} €</strong>
              </p>
              <p class="card-text text-truncate mb-2">
                {{ product.shortDSecription }}
              </p>
              <div class="text-center mb-1">
                <button type="button" class="btn btn-secondary btn-sm fs-6 py-1" (click)="onViewProduct(product.id)" >
                  Détail
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
