<div class="container mt-5 p-3 bg-primary border border-secondary rounded-3 shadow" style="margin-bottom: 180px;width: 40rem;">
    <button type="button" class="btn btn-secondary btn-sm mb-4" (click)="onBackHome()">Retour</button>
  <div class="card border-light mb-3" >
    <img
      [src]="product.photo"
      class="card-img-top img-fluid w-100"
      alt="..."
    />
    <div class="card-body bg-primary">
      <h5 class="card-title"> {{product.title}} </h5>
      <p class="card-text">
        {{product.shortDSecription}}
      </p>
      <p class="fw-bold"> {{product.price}} €</p>
      <p class="card-text">
        {{product.description}}
      </p>
    </div>
  </div>
</div>
